

body {
  font-family: 'Helvetica', Now, serif !important;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.NavContainer {
  width: auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

  a {
    color: #fefffe;
  }
}

.ImgCircle {

  position: relative;
  float: left;
  padding: 5%;
  border-radius: 30%
}

@font-face {
  font-family: "Helvetica", Now;
  src: url("/assets/Font/Helvetica Now Display Black.otf");
}

.BodyTextFormat {
  margin: 10% 15%;
  z-index: 10;
  text-align: left;
  color: #fefffe;
}

.ExpandBody {
  height: 1920px;
  width: 100%;
}
