<head>
  <title>It's Me!</title>
  <meta content="width-device-width, initial-scale=1" name="viewport">
</head>
<div class="clearFix font">
  <img alt="My Profile Picture" class="imgCircle" src="../../assets/images/Profile.png">

  <p class=alignShift>

    Hello, hello! <br>My name is Ali and I’m a software developer in Melbourne. I’m currently on the
    lookout for
    meaningful work.</p>
  <p style=text-align:left>
    I’m deeply passionate about the environment, which is why my friend and I have begun our journey to create a
    sustainable aeroponics urban agriculture system (it’s a mouthful… we know)
  </p>
  <p style=text-align:left>
    I’ve worked on things from XR content to simulations and training in VR at my previous work called Magic. Since then
    I’ve been focusing on bridging the gap between back and front-end development. I have a keen interest in the fields
    of automation, game development and microcontrollers that specialise in utilising sensor equipment. These are my
    passions, and they require me to pull up a chair and sometimes kick it away (gotta keep that posture correct
    somehow!).
  </p>
  I enjoy bouldering and rock climbing and head outdoors the moment an opportunity arises. I am constantly working
  towards a healthy mindset by being both physically and mentally active and ensuring I maintain a solid
  equilibrium(our startup is called Eaqlibrium, the spelling was intentional!).
  <p style=text-align:left>
    I am constantly looking for work that prioritises mental well-being, learning new skills and a growth mindset. If
    you think that I might be a good fit - then please, shoot me an email!
  </p>

  <br>
  <p>Thanks for reading!</p>
</div>
