<head><title>
</title>
</head>

<div [ngStyle]="{'background-image': 'url('+ baseBG + ')'}" class="contrastBG">
  <div class="profileDivide">
    <div id="FirstHalf" style="padding-top: 20%">
      <img alt="My Profile Picture" class="ProfileBorderCircle" src="../../assets/images/Profile.png">
      <div class="LogoDimensions">
        <div class="SpreadIconRow">
          <div *ngFor="let icon of staticIcons; let i = index" id="socialLink">
            <a (click)="openWindow(socialURL[i])"
               (mouseover)="mouseover=true"><img [src]="icon" alt=socialIcon></a>
          </div>
        </div>
      </div>
    </div>

    <div class="BodyTextFormat">
      <p>Having worked as a software developer for over 2 years now, I now seek projects that are both meaningful
        and value in terms of both educating myself and others.</p>
      <p>
        I have a passion for the environment, which has brought my friend and I together to create projects utilising
        microcontrollers and run-of-the-mill hardware to grow crops using hydroponics and eventually – automating the
        entire thing.
      </p>
      <p>Since graduating with a bachelor’s degree in game development – I worked at the XR
        simulations and training firm Magic Industries. The projects I worked on included things from UX,
        game mechanics, data management liaising with teams of other skillsets such as game designers, artists,
        sound engineers and reporting to the project manager directly. </p>
      <p>I used game engines and C# to build the tools necessary to complete the project as well as communication
        tools such as Slack, email and all the other entertaining things that excite project managers and the
        like.</p>
      <p>After finishing up at Magic, I’ve been refining my skills in software development areas that I feel are
        imperative to a productive work cycle. Learning HTML, CSS and vanilla JS has been quite fun and enlightening,
        and I’ve been playing with frameworks like Angular (that this portfolio site uses) and VueJS. </p>

      <p>Outside of frontend development – I’ve been touching on Machine Learning and AI and have begun using
        TensorFlow and Python
        as a steppingstone to understanding the subjects above. I’m looking to apply what I’ve
        learned so that I can better understand the processes involved. I’m currently seeking projects and work
        in any of these fields and would love the opportunity to be mentored using the industry’s best practices so
        that I can continue to deliver at a standard that is above acceptable.</p>

      I enjoy being active, I boulder and rock climb a lot and love conversing over topics that interest me, such as
      ethics and technology. If you feel that I might be a good fit for your team, then, have a look at my GitHub,
      HackerRank et al. and see what work I’ve contributed to.
      <p>Thanks for reading!</p>
    </div>
  </div>
</div>
