.addBG {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profileDivide {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center;
}

.contrastBG {
  background: no-repeat fixed center;
  position: absolute;
  background-size: cover;
}

.LogoDimensions {
  width: 3em;
  max-height: 50%;
}

.SpreadIconRow {
  grid-template-rows: repeat(auto-fit, minmax(10rem, 4fr));
  grid-template-columns: repeat(auto-fit, minmax(10rem, 4fr));
}
