
.alignLeft {
  text-align: left;
  padding: 3%;
}


.alignRight {
  text-align: right;
  padding: 3%;
}

.floatRight {
  float: right;
}

.WorkGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
  grid-template-rows: auto auto;
}

.ContrastTextBackground {
  background-color: orange;
  opacity: 0.3;
}

.workPieceFont {
  color: black;
}
