<head>
</head>
<div [ngStyle]="{'background-image': 'url('+ baseBG + ''}" class="contrastBG">
  <div class="HeadingFont">Past Projects</div>

  <div class="BodyTextFormat">

    <video controls height="auto" width="100%">
      <source src="../../assets/Videos/mp4/LUT%20Post%20Processing.mp4">
    </video>
    <div>
      <h2><strong>Roller<br></strong></h2>
      <p>
        The main premise for the project is to demonstrate the simplicity of implementing a post-processor that can be
        used as an imperative accessibility feature. Utilising C++ and UE4 Blueprints, I was able to create a
        post-processor that renders the textures of assets that is in the path of the viewport. In this case, the
        post-processor accounted for individuals with colour weaknesses pertaining to eyesight. The options available
        address dichromatic diseases deuteranopia and protanopia - dichromatic diseases usually affecting red or green
        retinal photoreceptors.
      </p>
    </div>
    <video controls height="auto" width="100%">
      <source src="../../assets/Videos/mp4/DishPigDemo.mp4">
    </video>

    <div>
      <h2><strong>Dish Pig Dilemma<br></strong></h2>
      <p>
        Created in a small team of 5 people, the project was ultimately discarded, but not without some well-learned
        lessons. The project involved the use of Git in a UE4 project, which taught me valuable real-world skills down
        the track. At that time, none of us had used Git before and we had experienced nothing but horror at pushing
        our projects to and fro. The mechanics I developed in this game was simple: the player was to use both
        joysticks on either an Xbox or PS4 controller and the player had to pick up the dishes that were spawning next
        ot the sink, wash them in the sink by dunking it in the water, and placing them in the rack for points. The
        confronting mechanic was that the controls were intentionally inverted, to give the player a hard time as it
        was no longer intuitive. This project taught me software development essential skills like Git, communication
        and time management. As well as key game development skills like kinematics and skeleton animations.
      </p>
    </div>
    <video controls height="auto" width="100%">
      <source src="../../assets/Videos/mp4/FlippingTimePortfolio.mp4">
    </video>
    <div>
      <strong><h2>Flipping Time!</h2><br></strong>
      <p>
        I really enjoyed working on this game mechanic demonstration. Using lists in C# and .NET, I was able to to store
        key variables and recall them in reverse order. I used a method that would record transform positions,
        quaternions
        and velocity. I then created two other methods – one is called per frame so long as the player held
        the backspace key down and another that would ‘rewind’ the player by calling the function that was loop through
        the variable from the last state that the recording method stored last and work its way backward. I optimised
        the
        recording system by flushing out the rewind capabilities according to the maximum amount of time the player can
        rewind.
        This demo is part of a 2D platform game called Flipping Time! It gives the player the opportunity to complete
        the
        level should they fall over by rewinding themselves back to the point of fault. There is a bar that fills and is
        proportional to the amount of time they’re able to rewind.

      </p>
    </div>
    <video controls height="auto" width="100%">
      <source src="../../assets/Videos/mp4/MerrikhsBolide.mp4">
    </video>
    <div>

      <h2><strong>Merrikh's Bolide</strong></h2>
      <p>
        Merrikh’s Bolide is a 3D space shooter rail game. The aim of the game is to complete each level by reaching the
        end. The player must break through, shoot or tunnel through layers of meteors in order to get to the end. This
        game had a team of 5 people with me as the project manager. We demonstrated the working of a fully playable
        demo.
        The experiences learned from this game were valuable beyond the scope of this project. As project manager, I
        learned to
        manage
        time
        efficiently, liaise with individuals and teams of differing skillsets and learned to communicate effectively.
        These skillsets I’ve found to be as equal, if not more important than just programming by itself.
      </p>
    </div>
    <img [alt]="PortfolioOverview" src="../../assets/images/BreakingThings.png" style="width: 100%">
    <div>

      <h2><strong>My Portfolio</strong></h2>
      <p>
        I wanted to use a language/framework that is prominent in the industry currently, but I didn't want to go
        cowboy and use a
        framework that is still in its infancy. So, I chose AngularJS to be my dance partner. I learned about nodes,
        packages, yarn,
        chocolatey and all the terminal/cmd keywords required to get my portfolio established and viewable. I learned
        how to utilise navigation and routing as well as wildcards. I deployed this website through DigitalOcean. On top
        of all these skills acquired, I also learned to upload content to my domain using virtual machines via SSH and
        SFTP. Learning the
        methods by which we manage servers, domains and files was illuminating, to say the least. I’m currently looking
        to style and animate my page and have been wanting to expand upon my current knowledge of CSS/HTML (probably
        should’ve
        mentioned that I learned these during this project as well!) in a more dynamic fashion. With the skills
        requirements of developers expanding the way it is, I’m very happy that I took the time to learn frontend
        development.
      </p>
    </div>
    <img [alt]="CSvReader.toString()" src="../../assets/images/CSvReader.png" style="width:100%">
    <div>
      <h2><strong>CSV Reader and Writer</strong></h2>
      <p>
        To continue refining my skills in game development - it was important to understand data structures and
        algorithms as well as finding the right means to store quick bits of data. Learning to read and write CSVs is
        something that still seems relevant in today's game development arena. I used Microsoft's CSV properties in
        order to build a program that will allow me to write information. The program that's currently up on GitHub
        takes in basic bits of info like name, number etc., but has helped immensely in understanding good data
        storage practice whilst developing.
      </p>
    </div>
  </div>
</div>
